PORT =8000
MONGODB_URI= mongodb://localhost:27017/your-database-name // basically, this is the connection string for your MongoDB database. You should replace "your-database-name" with the actual name of your database.
//from the mongo atlas, you can get the connection string by going to your cluster, clicking on "Connect", and then selecting "Connect your application". It will provide you with a connection string that you can use in your .env file. Make sure to replace <username>, <password>, and <dbname> with your actual MongoDB credentials and database name.